

<h1>Welcome</h1>
<p>Keep track of your brewing recipes, batch modifications, expectations and outcomes.</p>

<%= link_to "Sign up now!", new_brewer_registration_path, class: "btn btn-large btn-primary" %>

<%= link_to "Sign in" , new_brewer_session_path, class: "btn btn-large" %>
